#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  width: 65%;
  margin-bottom: 30%;
}

.view-container {
  border-radius: 8px;
  background-color: rgb(220,220,220, 0.5);
  padding: 20px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

p {
  margin: 0px;
}
